In [3]:
import pandas as pd

In [4]:
user_data = pd.read_csv('./dataset_csv/user_ranking_new.csv')
review_score_data = pd.read_csv('./dataset_csv/review_with_score.csv')

In [7]:
user_ids = []
for user in review_score_data['user_id']:
    user = user.split("'")[1]
    user_ids.append(user)

review_score_data['user_id'] = user_ids

In [8]:
merged_data = pd.merge(user_data, review_score_data, on="user_id")

In [9]:
merged_data.head()
merged_data.shape

(5261663, 20)

In [10]:
merged_data = merged_data.sort_values(['final_score'], ascending=False)

In [7]:
restaurants_data = pd.read_csv('./filtered_categories_csv/restaurants_food.csv', encoding='ISO-8859-1')
shopping_data = pd.read_csv('./filtered_categories_csv/shopping.csv', encoding='ISO-8859-1')
beauty_data = pd.read_csv('./filtered_categories_csv/beautynspa.csv', encoding='ISO-8859-1')
homeservice_data = pd.read_csv('./filtered_categories_csv/homeservice.csv', encoding='ISO-8859-1')
health_data = pd.read_csv('./filtered_categories_csv/healthnmedical.csv', encoding='ISO-8859-1')

In [8]:
merged_data.head()

,Unnamed: 0_x,user_id,review_count,yelping_since,useful_x,fans,elite_count,compliment_count,months_since,final_score,Unnamed: 0_y,text,useful_y,business_id,cool,review_id,date,stars,funny,sentiment_score
0,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,4386500,"b'After the Star Trek Experience, we stopped i...",3,b'9QtHDX71JnaQbmzWWVbi-A',2,b'WlpRJVrgiinsMUw7r2J3oQ',b'2008-05-30',2,2,-2.0
45,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,4408795,"b""After yet another night of insane Vegas part...",6,b'CHW_DPKnTqudyRaDa4vwkg',5,b'99x9y-yvIocubtT7Pzv2sg',b'2009-01-13',3,9,7.0
65,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,4408815,"b""Worth visiting for the view alone. If you're...",12,b'P5kh5APoGjBKNjnTw5gNlA',8,b'Mro7hc-OOZPG6uuwZlGxCg',b'2010-08-04',4,4,1.0
64,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,4408814,"b""From the mount, you've an impressive view of...",13,b'BYnmPgDK8QD5VTeUodQoZA',13,b'jHw6de6bHgmlXjR59xMsoA',b'2010-08-05',5,10,2.0
63,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,4408813,"b'Awful awful awful awful awful.\n\nYes, the S...",14,b'rfwJFFzW6xW2qYfJh14OTA',13,b'd8X4d32joc-qnyVX41tklg',b'2009-12-07',1,17,-5.0

In [9]:
cols = merged_data.columns.values.tolist()
print(cols)

['Unnamed: 0_x', 'user_id', 'review_count', 'yelping_since', 'useful_x', 'fans', 'elite_count', 'compliment_count', 'months_since', 'final_score', 'Unnamed: 0_y', 'text', 'useful_y', 'business_id', 'cool', 'review_id', 'date', 'stars', 'funny', 'sentiment_score']

In [10]:
cols.remove('Unnamed: 0_y')
cols.remove('Unnamed: 0_x')

In [11]:
merged_data = merged_data[['user_id', 'review_count', 'yelping_since', 'useful_x', 'fans', 'elite_count', 'compliment_count',
                           'months_since', 'final_score', 'text', 'useful_y', 'business_id', 'cool', 'review_id', 'date', 
                          'stars', 'funny', 'sentiment_score']]

In [12]:
print(restaurants_data.shape, shopping_data.shape, beauty_data.shape, homeservice_data.shape, health_data.shape)

(79395, 16) (27971, 16) (17014, 16) (16205, 16) (14230, 16)

In [12]:
business_ids = []
for item in merged_data['business_id']:
    item = item.split("'")[1]
    business_ids.append(item)

merged_data['business_id'] = business_ids

In [29]:
restaurants_data = restaurants_data[['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 
                                    'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 
                                    'stars', 'state']]

In [14]:
restaurants_merged = pd.merge(restaurants_data, merged_data, on="business_id")
restaurants_merged.shape

(4213367, 33)

In [15]:
restaurants_merged = restaurants_merged.sort_values(['final_score'], ascending=False)
restaurants_merged.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,...,months_since,final_score,text,useful_y,cool,review_id,date,stars_y,funny,sentiment_score
669106,58900,3600 S Las Vegas Blvd,"{'RestaurantsTableService': False, 'GoodForMea...",UUGoM4q4i8rK2CBRS0xDAw,"['Coffee & Tea', 'Cafes', 'Desserts', 'Food', ...",Las Vegas,"{'Monday': '6:00-23:00', 'Tuesday': '6:00-23:0...",1,36.111946,-115.176877,...,134,9.659785,"b""Assuming you can secure a seat at the Jean P...",5,5,b'v3OIxFQHfa5Y6n1jUGw2fQ',b'2008-06-09',4,2,23.0
3449447,48339,1225 Rue du Square-Phillips,"{'RestaurantsTableService': True, 'GoodForMeal...",RZk_PE-H9SygqwSQd88cWQ,"['Restaurants', 'French']",Montreal,"{'Monday': '11:30-21:00', 'Tuesday': '11:30-21...",1,45.504012,-73.568202,...,134,9.659785,"b""Friends and I lunched at Le Grand Comptoir, ...",1,3,b'f5X19lzsEih-LoLF2BBvMA',b'2008-08-17',4,0,20.0
499992,6918,"8125 W Sahara Ave, Ste 110","{'Alcohol': 'full_bar', 'HasTV': False, 'Noise...",3m2XZFVraCiqjgLxHi5MdA,"['American (New)', 'Restaurants']",Las Vegas,"{'Monday': '17:30-22:00', 'Tuesday': '17:30-22...",0,36.142770,-115.269287,...,134,9.659785,b'We had dinner at Rosemary\'s on a Sunday las...,2,1,b'DknSI7Lgz072RHbdaTj79A',b'2007-11-06',4,0,47.0
3221908,45228,5501 Josh Birmingham Pkwy,"{'Alcohol': 'none', 'Caters': False, 'Restaura...",yVPiqeEWOzJuskp5G-twRw,"['Fast Food', 'Chinese', 'Restaurants']",Charlotte,{},1,35.221423,-80.943798,...,134,9.659785,"b'The ""Chinese"" food at Manchu Wok is disgusti...",7,4,b'J8X0RX47VfFAvwYurusifQ',b'2007-05-29',1,5,-5.0
1065528,14871,"The Orleans Hotel & Casino, 4500 W Tropicana Ave","{'GoodForMeal': {'dessert': False, 'latenight'...",vLO7WdSy53qYHXl_PiRf1w,"['Mexican', 'Restaurants']",Las Vegas,{},0,36.105711,-115.202272,...,134,9.659785,b'It was Friday night and since the Yardhouse ...,3,4,b'd8xULn_AvZ3g-am6YGSMtg',b'2008-12-19',3,2,5.0

In [16]:
shopping_data = shopping_data[['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 
                                    'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 
                                    'stars', 'state']]

beauty_data = beauty_data[['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 
                                    'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 
                                    'stars', 'state']]

homeservice_data = homeservice_data[['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 
                                    'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 
                                    'stars', 'state']]

health_data = health_data[['address', 'attributes', 'business_id', 'categories', 'city', 'hours', 'is_open', 
                                    'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count', 
                                    'stars', 'state']]

In [17]:
shopping_merged = pd.merge(shopping_data, merged_data, on="business_id")
shopping_merged = shopping_merged.sort_values(['final_score'], ascending=False)
#shopping_merged.head()

In [18]:
beauty_merged = pd.merge(beauty_data, merged_data, on="business_id")
beauty_merged = beauty_merged.sort_values(['final_score'], ascending=False)

In [19]:
homeservice_merged = pd.merge(homeservice_data, merged_data, on="business_id")
homeservice_merged = homeservice_merged.sort_values(['final_score'], ascending=False)

In [20]:
health_merged = pd.merge(health_data, merged_data, on="business_id")
health_merged = health_merged.sort_values(['final_score'], ascending=False)

In [13]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [14]:
top_US_users = merged_data['user_id'].unique().tolist()[:10]
print(top_US_users)

['6s-g2vFu12OemhiK3FJuOQ', 'JjXuiru1_ONzDkYVrHN0aw', '23J4vG9_xxxdnmi8CBX7Ng', 'VHdY6oG2JPVNjihWhOooAQ', 'nkN_do3fJ9xekchVC-v68A', 'om5ZiponkpRqUNa3pVPiRg', 'gjhzKWsqCIrpEd9pevbKZw', 'iLjMdZi0Tm7DQxX1C1_2dg', 'G5LXEaxhQMF_BVjNHkVr7g', 'ysCBsXWPB-LAiewVS3jZfQ']

In [26]:
print(restaurants_merged.shape, health_merged.shape, shopping_merged.shape, beauty_merged.shape, homeservice_merged.shape)

(4213367, 33) (177538, 32) (384646, 32) (318243, 32) (205549, 32)

In [34]:
restaurants_merged[restaurants_merged['user_id'] == top_US_users[2]].shape

(0, 32)

In [15]:
merged_data.shape

(5261663, 18)

In [16]:
business_json_data = None
with open('./dataset/business.json', encoding='utf-8') as data:
    business_json_data = data.readlines()
    
business_json_data = map(lambda x: x.rstrip(), business_json_data)

data_str = "[" + ",".join(business_json_data) + "]"

business_data = pd.read_json(data_str)

print(business_data.shape)

(174567, 15)

In [17]:
final_merged = pd.merge(merged_data, business_data, on="business_id")
final_merged.shape

(5261663, 32)

In [18]:
final_merged = final_merged.sort_values(['final_score'], ascending=False)

In [45]:
top_five_hund = final_merged['user_id'].unique().tolist()[:500]
len(top_five_hund)

500

In [19]:
final_merged = final_merged[final_merged['state'].isin(states)]

In [20]:
final_merged.shape

(4391451, 32)

In [21]:
final_merged = final_merged.sort_values(['final_score'], ascending=False)

In [22]:
top_US_users = final_merged['user_id'].unique().tolist()[:10]
print(top_US_users)

['6s-g2vFu12OemhiK3FJuOQ', 'JjXuiru1_ONzDkYVrHN0aw', '23J4vG9_xxxdnmi8CBX7Ng', 'VHdY6oG2JPVNjihWhOooAQ', 'nkN_do3fJ9xekchVC-v68A', 'om5ZiponkpRqUNa3pVPiRg', 'gjhzKWsqCIrpEd9pevbKZw', 'iLjMdZi0Tm7DQxX1C1_2dg', 'G5LXEaxhQMF_BVjNHkVr7g', 'ysCBsXWPB-LAiewVS3jZfQ']

In [27]:
az_data = final_merged[final_merged['state'] == "AZ"]

In [60]:
print(len(az_data['user_id'].unique().tolist()))

409382

In [28]:
counties = az_data['city'].value_counts().index[:10].tolist()
print(counties)

['Phoenix', 'Scottsdale', 'Tempe', 'Mesa', 'Chandler', 'Gilbert', 'Glendale', 'Peoria', 'Surprise', 'Goodyear']

In [24]:
state_data = final_merged['state'].unique().tolist()
print(len(state_data))

25

In [48]:
import time

for state in state_data:
    start_time = time.time()
    temp = final_merged[final_merged['state'] == state].sort_values(['final_score'], ascending=False)
    top_user = temp['user_id'].unique().tolist()[:10]
    for user in top_user:
        temp_new = temp[temp['user_id'] == user].sort_values(['sentiment_score'], ascending=False)
        temp_new.iloc[:10,:].to_csv('./filtered_categories_csv/state_user_data_new.csv', mode='a', header=False)
    end_time = time.time()
    print(end_time - start_time)

34.19237494468689
3.710676431655884
1.8906562328338623
1.9872674942016602
5.4978578090667725
1.4162023067474365
1.1643004417419434
0.920924186706543
0.9264242649078369
0.690920352935791
0.7671525478363037
0.8083178997039795
0.6629111766815186
0.6750853061676025
0.715609073638916
0.6466972827911377
0.6363177299499512
0.6467173099517822
0.6037766933441162
0.653019905090332
0.6359272003173828
0.6512854099273682
0.7061648368835449
0.626537561416626
0.6163878440856934

In [76]:
import time

for item in counties:
    start_time = time.time()
    temp = az_data[az_data['city'] == item].sort_values(['final_score'], ascending=False)
    top_user = temp['user_id'].unique().tolist()[:10]
    for user in top_user:
        temp_new = temp[temp['user_id'] == user].sort_values(['sentiment_score'], ascending=False)
        temp_new.iloc[:10,:].to_csv('./AZ_user_data/az_data.csv', mode='a', header=False)
    end_time = time.time()
    print(end_time - start_time)

31.04826831817627
5.546103000640869
2.755023956298828
2.1990766525268555
1.9436752796173096
1.5869970321655273
1.156505823135376
0.846550464630127
0.6993207931518555
0.713702917098999

In [32]:
state_user_data = pd.read_csv('./filtered_categories_csv/state_user_data.csv', error_bad_lines=False)

b'Skipping line 477: expected 32 fields, saw 33\nSkipping line 478: expected 32 fields, saw 33\nSkipping line 479: expected 32 fields, saw 33\nSkipping line 480: expected 32 fields, saw 33\nSkipping line 481: expected 32 fields, saw 33\nSkipping line 482: expected 32 fields, saw 33\nSkipping line 483: expected 32 fields, saw 33\nSkipping line 484: expected 32 fields, saw 33\nSkipping line 485: expected 32 fields, saw 33\nSkipping line 486: expected 32 fields, saw 33\nSkipping line 487: expected 32 fields, saw 33\nSkipping line 488: expected 32 fields, saw 33\nSkipping line 489: expected 32 fields, saw 33\nSkipping line 490: expected 32 fields, saw 33\nSkipping line 491: expected 32 fields, saw 33\nSkipping line 492: expected 32 fields, saw 33\nSkipping line 493: expected 32 fields, saw 33\nSkipping line 494: expected 32 fields, saw 33\nSkipping line 495: expected 32 fields, saw 33\nSkipping line 496: expected 32 fields, saw 33\nSkipping line 497: expected 32 fields, saw 33\nSkipping line 498: expected 32 fields, saw 33\nSkipping line 499: expected 32 fields, saw 33\nSkipping line 500: expected 32 fields, saw 33\nSkipping line 501: expected 32 fields, saw 33\nSkipping line 502: expected 32 fields, saw 33\nSkipping line 503: expected 32 fields, saw 33\nSkipping line 504: expected 32 fields, saw 33\nSkipping line 505: expected 32 fields, saw 33\nSkipping line 506: expected 32 fields, saw 33\nSkipping line 507: expected 32 fields, saw 33\nSkipping line 508: expected 32 fields, saw 33\nSkipping line 509: expected 32 fields, saw 33\nSkipping line 510: expected 32 fields, saw 33\nSkipping line 511: expected 32 fields, saw 33\nSkipping line 512: expected 32 fields, saw 33\nSkipping line 513: expected 32 fields, saw 33\nSkipping line 514: expected 32 fields, saw 33\nSkipping line 515: expected 32 fields, saw 33\nSkipping line 516: expected 32 fields, saw 33\nSkipping line 517: expected 32 fields, saw 33\nSkipping line 518: expected 32 fields, saw 33\nSkipping line 519: expected 32 fields, saw 33\nSkipping line 520: expected 32 fields, saw 33\nSkipping line 521: expected 32 fields, saw 33\nSkipping line 522: expected 32 fields, saw 33\nSkipping line 523: expected 32 fields, saw 33\nSkipping line 524: expected 32 fields, saw 33\nSkipping line 525: expected 32 fields, saw 33\nSkipping line 526: expected 32 fields, saw 33\nSkipping line 527: expected 32 fields, saw 33\nSkipping line 528: expected 32 fields, saw 33\nSkipping line 529: expected 32 fields, saw 33\nSkipping line 530: expected 32 fields, saw 33\nSkipping line 531: expected 32 fields, saw 33\nSkipping line 532: expected 32 fields, saw 33\nSkipping line 533: expected 32 fields, saw 33\nSkipping line 534: expected 32 fields, saw 33\nSkipping line 535: expected 32 fields, saw 33\nSkipping line 536: expected 32 fields, saw 33\nSkipping line 537: expected 32 fields, saw 33\nSkipping line 538: expected 32 fields, saw 33\nSkipping line 539: expected 32 fields, saw 33\nSkipping line 540: expected 32 fields, saw 33\nSkipping line 541: expected 32 fields, saw 33\nSkipping line 542: expected 32 fields, saw 33\nSkipping line 543: expected 32 fields, saw 33\nSkipping line 544: expected 32 fields, saw 33\nSkipping line 545: expected 32 fields, saw 33\nSkipping line 546: expected 32 fields, saw 33\nSkipping line 547: expected 32 fields, saw 33\nSkipping line 548: expected 32 fields, saw 33\nSkipping line 549: expected 32 fields, saw 33\nSkipping line 550: expected 32 fields, saw 33\nSkipping line 551: expected 32 fields, saw 33\nSkipping line 552: expected 32 fields, saw 33\nSkipping line 553: expected 32 fields, saw 33\nSkipping line 554: expected 32 fields, saw 33\nSkipping line 555: expected 32 fields, saw 33\nSkipping line 556: expected 32 fields, saw 33\nSkipping line 557: expected 32 fields, saw 33\nSkipping line 558: expected 32 fields, saw 33\nSkipping line 559: expected 32 fields, saw 33\nSkipping line 560: expected 32 fields, saw 33\nSkipping line 561: expected 32 fields, saw 33\nSkipping line 562: expected 32 fields, saw 33\nSkipping line 563: expected 32 fields, saw 33\nSkipping line 564: expected 32 fields, saw 33\nSkipping line 565: expected 32 fields, saw 33\nSkipping line 566: expected 32 fields, saw 33\nSkipping line 567: expected 32 fields, saw 33\nSkipping line 568: expected 32 fields, saw 33\nSkipping line 569: expected 32 fields, saw 33\nSkipping line 570: expected 32 fields, saw 33\nSkipping line 571: expected 32 fields, saw 33\nSkipping line 572: expected 32 fields, saw 33\nSkipping line 573: expected 32 fields, saw 33\nSkipping line 574: expected 32 fields, saw 33\nSkipping line 575: expected 32 fields, saw 33\nSkipping line 576: expected 32 fields, saw 33\nSkipping line 577: expected 32 fields, saw 33\nSkipping line 578: expected 32 fields, saw 33\nSkipping line 579: expected 32 fields, saw 33\nSkipping line 580: expected 32 fields, saw 33\nSkipping line 581: expected 32 fields, saw 33\nSkipping line 582: expected 32 fields, saw 33\nSkipping line 583: expected 32 fields, saw 33\nSkipping line 584: expected 32 fields, saw 33\nSkipping line 585: expected 32 fields, saw 33\nSkipping line 586: expected 32 fields, saw 33\nSkipping line 587: expected 32 fields, saw 33\nSkipping line 588: expected 32 fields, saw 33\nSkipping line 589: expected 32 fields, saw 33\nSkipping line 590: expected 32 fields, saw 33\nSkipping line 591: expected 32 fields, saw 33\nSkipping line 592: expected 32 fields, saw 33\nSkipping line 593: expected 32 fields, saw 33\nSkipping line 594: expected 32 fields, saw 33\nSkipping line 595: expected 32 fields, saw 33\nSkipping line 596: expected 32 fields, saw 33\nSkipping line 597: expected 32 fields, saw 33\nSkipping line 598: expected 32 fields, saw 33\nSkipping line 599: expected 32 fields, saw 33\nSkipping line 600: expected 32 fields, saw 33\nSkipping line 601: expected 32 fields, saw 33\nSkipping line 602: expected 32 fields, saw 33\nSkipping line 603: expected 32 fields, saw 33\nSkipping line 604: expected 32 fields, saw 33\nSkipping line 605: expected 32 fields, saw 33\nSkipping line 606: expected 32 fields, saw 33\nSkipping line 607: expected 32 fields, saw 33\nSkipping line 608: expected 32 fields, saw 33\nSkipping line 609: expected 32 fields, saw 33\nSkipping line 610: expected 32 fields, saw 33\nSkipping line 611: expected 32 fields, saw 33\nSkipping line 612: expected 32 fields, saw 33\nSkipping line 613: expected 32 fields, saw 33\nSkipping line 614: expected 32 fields, saw 33\nSkipping line 615: expected 32 fields, saw 33\nSkipping line 616: expected 32 fields, saw 33\nSkipping line 617: expected 32 fields, saw 33\nSkipping line 618: expected 32 fields, saw 33\nSkipping line 619: expected 32 fields, saw 33\nSkipping line 620: expected 32 fields, saw 33\nSkipping line 621: expected 32 fields, saw 33\nSkipping line 622: expected 32 fields, saw 33\nSkipping line 623: expected 32 fields, saw 33\nSkipping line 624: expected 32 fields, saw 33\nSkipping line 625: expected 32 fields, saw 33\nSkipping line 626: expected 32 fields, saw 33\nSkipping line 627: expected 32 fields, saw 33\nSkipping line 628: expected 32 fields, saw 33\nSkipping line 629: expected 32 fields, saw 33\nSkipping line 630: expected 32 fields, saw 33\nSkipping line 631: expected 32 fields, saw 33\nSkipping line 632: expected 32 fields, saw 33\nSkipping line 633: expected 32 fields, saw 33\nSkipping line 634: expected 32 fields, saw 33\nSkipping line 635: expected 32 fields, saw 33\nSkipping line 636: expected 32 fields, saw 33\nSkipping line 637: expected 32 fields, saw 33\nSkipping line 638: expected 32 fields, saw 33\nSkipping line 639: expected 32 fields, saw 33\nSkipping line 640: expected 32 fields, saw 33\nSkipping line 641: expected 32 fields, saw 33\nSkipping line 642: expected 32 fields, saw 33\nSkipping line 643: expected 32 fields, saw 33\nSkipping line 644: expected 32 fields, saw 33\nSkipping line 645: expected 32 fields, saw 33\nSkipping line 646: expected 32 fields, saw 33\nSkipping line 647: expected 32 fields, saw 33\nSkipping line 648: expected 32 fields, saw 33\nSkipping line 649: expected 32 fields, saw 33\nSkipping line 650: expected 32 fields, saw 33\nSkipping line 651: expected 32 fields, saw 33\nSkipping line 652: expected 32 fields, saw 33\nSkipping line 653: expected 32 fields, saw 33\nSkipping line 654: expected 32 fields, saw 33\nSkipping line 655: expected 32 fields, saw 33\nSkipping line 656: expected 32 fields, saw 33\nSkipping line 657: expected 32 fields, saw 33\nSkipping line 658: expected 32 fields, saw 33\nSkipping line 659: expected 32 fields, saw 33\nSkipping line 660: expected 32 fields, saw 33\nSkipping line 661: expected 32 fields, saw 33\nSkipping line 662: expected 32 fields, saw 33\nSkipping line 663: expected 32 fields, saw 33\nSkipping line 664: expected 32 fields, saw 33\nSkipping line 665: expected 32 fields, saw 33\nSkipping line 666: expected 32 fields, saw 33\nSkipping line 667: expected 32 fields, saw 33\nSkipping line 668: expected 32 fields, saw 33\nSkipping line 669: expected 32 fields, saw 33\nSkipping line 670: expected 32 fields, saw 33\nSkipping line 671: expected 32 fields, saw 33\nSkipping line 672: expected 32 fields, saw 33\nSkipping line 673: expected 32 fields, saw 33\nSkipping line 674: expected 32 fields, saw 33\nSkipping line 675: expected 32 fields, saw 33\nSkipping line 676: expected 32 fields, saw 33\nSkipping line 677: expected 32 fields, saw 33\nSkipping line 678: expected 32 fields, saw 33\nSkipping line 679: expected 32 fields, saw 33\nSkipping line 680: expected 32 fields, saw 33\nSkipping line 681: expected 32 fields, saw 33\nSkipping line 682: expected 32 fields, saw 33\nSkipping line 683: expected 32 fields, saw 33\nSkipping line 684: expected 32 fields, saw 33\nSkipping line 685: expected 32 fields, saw 33\nSkipping line 686: expected 32 fields, saw 33\nSkipping line 687: expected 32 fields, saw 33\nSkipping line 688: expected 32 fields, saw 33\nSkipping line 689: expected 32 fields, saw 33\nSkipping line 690: expected 32 fields, saw 33\nSkipping line 691: expected 32 fields, saw 33\nSkipping line 692: expected 32 fields, saw 33\nSkipping line 693: expected 32 fields, saw 33\nSkipping line 694: expected 32 fields, saw 33\nSkipping line 695: expected 32 fields, saw 33\nSkipping line 696: expected 32 fields, saw 33\nSkipping line 697: expected 32 fields, saw 33\nSkipping line 698: expected 32 fields, saw 33\nSkipping line 699: expected 32 fields, saw 33\nSkipping line 700: expected 32 fields, saw 33\nSkipping line 701: expected 32 fields, saw 33\nSkipping line 702: expected 32 fields, saw 33\nSkipping line 703: expected 32 fields, saw 33\nSkipping line 704: expected 32 fields, saw 33\nSkipping line 705: expected 32 fields, saw 33\nSkipping line 706: expected 32 fields, saw 33\nSkipping line 707: expected 32 fields, saw 33\nSkipping line 708: expected 32 fields, saw 33\nSkipping line 709: expected 32 fields, saw 33\nSkipping line 710: expected 32 fields, saw 33\nSkipping line 711: expected 32 fields, saw 33\nSkipping line 712: expected 32 fields, saw 33\nSkipping line 713: expected 32 fields, saw 33\nSkipping line 714: expected 32 fields, saw 33\nSkipping line 715: expected 32 fields, saw 33\nSkipping line 716: expected 32 fields, saw 33\nSkipping line 717: expected 32 fields, saw 33\nSkipping line 718: expected 32 fields, saw 33\nSkipping line 719: expected 32 fields, saw 33\nSkipping line 720: expected 32 fields, saw 33\nSkipping line 721: expected 32 fields, saw 33\nSkipping line 722: expected 32 fields, saw 33\nSkipping line 723: expected 32 fields, saw 33\nSkipping line 724: expected 32 fields, saw 33\nSkipping line 725: expected 32 fields, saw 33\nSkipping line 726: expected 32 fields, saw 33\nSkipping line 727: expected 32 fields, saw 33\nSkipping line 728: expected 32 fields, saw 33\nSkipping line 729: expected 32 fields, saw 33\nSkipping line 730: expected 32 fields, saw 33\nSkipping line 731: expected 32 fields, saw 33\nSkipping line 732: expected 32 fields, saw 33\nSkipping line 733: expected 32 fields, saw 33\nSkipping line 734: expected 32 fields, saw 33\nSkipping line 735: expected 32 fields, saw 33\nSkipping line 736: expected 32 fields, saw 33\nSkipping line 737: expected 32 fields, saw 33\nSkipping line 738: expected 32 fields, saw 33\nSkipping line 739: expected 32 fields, saw 33\nSkipping line 740: expected 32 fields, saw 33\nSkipping line 741: expected 32 fields, saw 33\nSkipping line 742: expected 32 fields, saw 33\nSkipping line 743: expected 32 fields, saw 33\nSkipping line 744: expected 32 fields, saw 33\nSkipping line 745: expected 32 fields, saw 33\nSkipping line 746: expected 32 fields, saw 33\nSkipping line 747: expected 32 fields, saw 33\nSkipping line 748: expected 32 fields, saw 33\nSkipping line 749: expected 32 fields, saw 33\nSkipping line 750: expected 32 fields, saw 33\nSkipping line 751: expected 32 fields, saw 33\nSkipping line 752: expected 32 fields, saw 33\nSkipping line 753: expected 32 fields, saw 33\nSkipping line 754: expected 32 fields, saw 33\nSkipping line 755: expected 32 fields, saw 33\nSkipping line 756: expected 32 fields, saw 33\nSkipping line 757: expected 32 fields, saw 33\nSkipping line 758: expected 32 fields, saw 33\nSkipping line 759: expected 32 fields, saw 33\nSkipping line 760: expected 32 fields, saw 33\nSkipping line 761: expected 32 fields, saw 33\nSkipping line 762: expected 32 fields, saw 33\nSkipping line 763: expected 32 fields, saw 33\nSkipping line 764: expected 32 fields, saw 33\nSkipping line 765: expected 32 fields, saw 33\nSkipping line 766: expected 32 fields, saw 33\nSkipping line 767: expected 32 fields, saw 33\nSkipping line 768: expected 32 fields, saw 33\nSkipping line 769: expected 32 fields, saw 33\nSkipping line 770: expected 32 fields, saw 33\nSkipping line 771: expected 32 fields, saw 33\nSkipping line 772: expected 32 fields, saw 33\nSkipping line 773: expected 32 fields, saw 33\nSkipping line 774: expected 32 fields, saw 33\nSkipping line 775: expected 32 fields, saw 33\nSkipping line 776: expected 32 fields, saw 33\nSkipping line 777: expected 32 fields, saw 33\nSkipping line 778: expected 32 fields, saw 33\nSkipping line 779: expected 32 fields, saw 33\nSkipping line 780: expected 32 fields, saw 33\nSkipping line 781: expected 32 fields, saw 33\nSkipping line 782: expected 32 fields, saw 33\nSkipping line 783: expected 32 fields, saw 33\nSkipping line 784: expected 32 fields, saw 33\nSkipping line 785: expected 32 fields, saw 33\nSkipping line 786: expected 32 fields, saw 33\nSkipping line 787: expected 32 fields, saw 33\nSkipping line 788: expected 32 fields, saw 33\nSkipping line 789: expected 32 fields, saw 33\nSkipping line 790: expected 32 fields, saw 33\nSkipping line 791: expected 32 fields, saw 33\nSkipping line 792: expected 32 fields, saw 33\nSkipping line 793: expected 32 fields, saw 33\nSkipping line 794: expected 32 fields, saw 33\nSkipping line 795: expected 32 fields, saw 33\nSkipping line 796: expected 32 fields, saw 33\nSkipping line 797: expected 32 fields, saw 33\nSkipping line 798: expected 32 fields, saw 33\nSkipping line 799: expected 32 fields, saw 33\nSkipping line 800: expected 32 fields, saw 33\nSkipping line 801: expected 32 fields, saw 33\nSkipping line 802: expected 32 fields, saw 33\nSkipping line 803: expected 32 fields, saw 33\nSkipping line 804: expected 32 fields, saw 33\nSkipping line 805: expected 32 fields, saw 33\nSkipping line 806: expected 32 fields, saw 33\nSkipping line 807: expected 32 fields, saw 33\nSkipping line 808: expected 32 fields, saw 33\nSkipping line 809: expected 32 fields, saw 33\nSkipping line 810: expected 32 fields, saw 33\nSkipping line 811: expected 32 fields, saw 33\nSkipping line 812: expected 32 fields, saw 33\nSkipping line 813: expected 32 fields, saw 33\nSkipping line 814: expected 32 fields, saw 33\nSkipping line 815: expected 32 fields, saw 33\nSkipping line 816: expected 32 fields, saw 33\nSkipping line 817: expected 32 fields, saw 33\nSkipping line 818: expected 32 fields, saw 33\nSkipping line 819: expected 32 fields, saw 33\nSkipping line 820: expected 32 fields, saw 33\nSkipping line 821: expected 32 fields, saw 33\nSkipping line 822: expected 32 fields, saw 33\nSkipping line 823: expected 32 fields, saw 33\nSkipping line 824: expected 32 fields, saw 33\nSkipping line 825: expected 32 fields, saw 33\nSkipping line 826: expected 32 fields, saw 33\nSkipping line 827: expected 32 fields, saw 33\nSkipping line 828: expected 32 fields, saw 33\nSkipping line 829: expected 32 fields, saw 33\nSkipping line 830: expected 32 fields, saw 33\nSkipping line 831: expected 32 fields, saw 33\nSkipping line 832: expected 32 fields, saw 33\nSkipping line 833: expected 32 fields, saw 33\nSkipping line 834: expected 32 fields, saw 33\nSkipping line 835: expected 32 fields, saw 33\nSkipping line 836: expected 32 fields, saw 33\nSkipping line 837: expected 32 fields, saw 33\nSkipping line 838: expected 32 fields, saw 33\nSkipping line 839: expected 32 fields, saw 33\nSkipping line 840: expected 32 fields, saw 33\nSkipping line 841: expected 32 fields, saw 33\nSkipping line 842: expected 32 fields, saw 33\nSkipping line 843: expected 32 fields, saw 33\nSkipping line 844: expected 32 fields, saw 33\nSkipping line 845: expected 32 fields, saw 33\nSkipping line 846: expected 32 fields, saw 33\nSkipping line 847: expected 32 fields, saw 33\nSkipping line 848: expected 32 fields, saw 33\nSkipping line 849: expected 32 fields, saw 33\nSkipping line 850: expected 32 fields, saw 33\nSkipping line 851: expected 32 fields, saw 33\nSkipping line 852: expected 32 fields, saw 33\nSkipping line 853: expected 32 fields, saw 33\nSkipping line 854: expected 32 fields, saw 33\nSkipping line 855: expected 32 fields, saw 33\nSkipping line 856: expected 32 fields, saw 33\nSkipping line 857: expected 32 fields, saw 33\nSkipping line 858: expected 32 fields, saw 33\nSkipping line 859: expected 32 fields, saw 33\nSkipping line 860: expected 32 fields, saw 33\nSkipping line 861: expected 32 fields, saw 33\nSkipping line 862: expected 32 fields, saw 33\nSkipping line 863: expected 32 fields, saw 33\nSkipping line 864: expected 32 fields, saw 33\nSkipping line 865: expected 32 fields, saw 33\nSkipping line 866: expected 32 fields, saw 33\nSkipping line 867: expected 32 fields, saw 33\nSkipping line 868: expected 32 fields, saw 33\nSkipping line 869: expected 32 fields, saw 33\nSkipping line 870: expected 32 fields, saw 33\nSkipping line 871: expected 32 fields, saw 33\nSkipping line 872: expected 32 fields, saw 33\nSkipping line 873: expected 32 fields, saw 33\nSkipping line 874: expected 32 fields, saw 33\nSkipping line 875: expected 32 fields, saw 33\nSkipping line 876: expected 32 fields, saw 33\nSkipping line 877: expected 32 fields, saw 33\nSkipping line 878: expected 32 fields, saw 33\nSkipping line 879: expected 32 fields, saw 33\nSkipping line 880: expected 32 fields, saw 33\nSkipping line 881: expected 32 fields, saw 33\nSkipping line 882: expected 32 fields, saw 33\nSkipping line 883: expected 32 fields, saw 33\nSkipping line 884: expected 32 fields, saw 33\nSkipping line 885: expected 32 fields, saw 33\nSkipping line 886: expected 32 fields, saw 33\nSkipping line 887: expected 32 fields, saw 33\nSkipping line 888: expected 32 fields, saw 33\nSkipping line 889: expected 32 fields, saw 33\nSkipping line 890: expected 32 fields, saw 33\nSkipping line 891: expected 32 fields, saw 33\nSkipping line 892: expected 32 fields, saw 33\nSkipping line 893: expected 32 fields, saw 33\nSkipping line 894: expected 32 fields, saw 33\nSkipping line 895: expected 32 fields, saw 33\nSkipping line 896: expected 32 fields, saw 33\nSkipping line 897: expected 32 fields, saw 33\nSkipping line 898: expected 32 fields, saw 33\nSkipping line 899: expected 32 fields, saw 33\nSkipping line 900: expected 32 fields, saw 33\nSkipping line 901: expected 32 fields, saw 33\nSkipping line 902: expe

In [33]:
cols = final_merged.columns.values.tolist()
state_user_data.columns = cols

In [34]:
print(cols)

['user_id', 'review_count_x', 'yelping_since', 'useful_x', 'fans', 'elite_count', 'compliment_count', 'months_since', 'final_score', 'text', 'useful_y', 'business_id', 'cool', 'review_id', 'date', 'stars_x', 'funny', 'sentiment_score', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count_y', 'stars_y', 'state']

In [35]:
state_user_data['state'].value_counts()

NV    75
AZ    69
WI    48
PA    39
NC    35
IL    32
SC    28
OH    25
NY    13
IN    12
CA    10
AK    10
AL    10
AR    10
FL    10
MT    10
VT     8
CO     6
DE     5
WA     4
NE     4
MN     3
VA     3
KY     3
GA     3
Name: state, dtype: int64

In [36]:
texts = []
for text in state_user_data['text']:
    text = text.split("'")[1]
    texts.append(text)

state_user_data['text'] = texts

In [42]:
print(len(state_user_data['business_id'].unique().tolist()))

348

In [40]:
state_user_data.shape

(475, 32)

In [44]:
print(state_user_data.columns.values.tolist())

['user_id', 'review_count_x', 'yelping_since', 'useful_x', 'fans', 'elite_count', 'compliment_count', 'months_since', 'final_score', 'text', 'useful_y', 'business_id', 'cool', 'review_id', 'date', 'stars_x', 'funny', 'sentiment_score', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'review_count_y', 'stars_y', 'state']

In [45]:
state_user_data = state_user_data.rename(columns={'review_count_x': 'user_reviews_count', 'useful_x': 'user_useful_reviews', 
                                                 'useful_y': 'user_review_useful_count', 'stars_x': 'user_review_stars', 
                                                 'review_count_y': 'business_review_count', 'stars_y': 'business_review_stars'})

In [47]:
state_user_data.shape

(475, 32)

In [49]:
state_user_data.to_csv('./filtered_categories_csv/state_user_data.csv')

In [56]:
state_new_data = pd.read_csv('./filtered_categories_csv/state_user_data_new.csv', names=state_user_data.columns.values.tolist())

In [57]:
state_new_data.head()

,user_id,user_reviews_count,yelping_since,user_useful_reviews,fans,elite_count,compliment_count,months_since,final_score,text,...,hours,is_open,latitude,longitude,name,neighborhood,postal_code,business_review_count,business_review_stars,state
0,6s-g2vFu12OemhiK3FJuOQ,2337,2/14/2007,187492,824,11,23361,134,9.659785,b'We had dinner at Rosemary\'s on a Sunday las...,...,"{'Monday': '17:30-22:00', 'Tuesday': '17:30-22...",0,36.142770,-115.269287,Rosemary's Restaurant,Westside,89117.0,323,4.5,NV
1,6s-g2vFu12OemhiK3FJuOQ,2337,2/14/2007,187492,824,11,23361,134,9.659785,"b""Fix's ambience is so-so. They would benefit ...",...,"{'Monday': '17:00-23:00', 'Tuesday': '17:00-23...",1,36.113845,-115.175391,FIX,The Strip,89109.0,605,3.5,NV
2,6s-g2vFu12OemhiK3FJuOQ,2337,2/14/2007,187492,824,11,23361,134,9.659785,b'Lotus of Siam recommends folks make reservat...,...,"{'Monday': '11:00-14:30', 'Tuesday': '11:00-14...",1,36.143450,-115.142780,Lotus of Siam,Downtown,89104.0,3964,4.0,NV
3,6s-g2vFu12OemhiK3FJuOQ,2337,2/14/2007,187492,824,11,23361,134,9.659785,"b""Ginseng BBQ was recommended by a few friends...",...,"{'Monday': '0:00-0:00', 'Tuesday': '0:00-0:00'...",1,36.105019,-115.171768,Ginseng Korean BBQ II,The Strip,89109.0,291,3.0,NV
4,6s-g2vFu12OemhiK3FJuOQ,2337,2/14/2007,187492,824,11,23361,134,9.659785,"b""We attempted to walk to this In-N-Out (which...",...,"{'Monday': '10:30-1:00', 'Tuesday': '10:30-1:0...",1,36.101320,-115.182186,In-N-Out Burger,NaN,89103.0,954,4.0,NV

In [58]:
state_new_data.shape

(476, 32)

In [60]:
for user in top_US_users:
    temp = final_merged[final_merged['user_id'] == user].sort_values(['sentiment_score'], ascending=False)
    temp.to_csv('./filtered_categories_csv/top_users.csv', mode='a', header=False)

In [70]:
top_user_data = pd.read_csv('./filtered_categories_csv/top_users.csv', names=state_user_data.columns.values.tolist())

In [66]:
top_user_data.to_csv('./filtered_categories_csv/top_users.csv')

In [83]:
county_data = pd.read_csv('./AZ_user_data/az_data.csv', names=state_user_data.columns.values.tolist())

In [84]:
county_data.shape

(1106, 32)

In [85]:
texts = []
for text in county_data['text']:
    text = text.split("'")[1]
    texts.append(text)

county_data['text'] = texts

In [86]:
county_data.to_csv('./filtered_categories_csv/az_county_data.csv')