In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [12]:
def process_data(data):
    return None

In [13]:
restaurant_data = pd.read_csv('./filtered_categories_csv/restaurants_food.csv', encoding = "ISO-8859-1")

In [32]:
restaurant_data.shape

(79395, 16)

In [2]:
review_score_data = pd.read_csv('./dataset_csv/review_with_score.csv')
user_rank_data = pd.read_csv('./dataset_csv/user_ranking_new.csv')

In [3]:
review_score_data = review_score_data[['text', 'useful', 'business_id', 'cool', 'review_id', 'date', 'stars', 
                                          'funny', 'user_id', 'sentiment_score']]

In [4]:
users = []
for user in review_score_data['user_id']:
    user = user.split("'")[1]
    users.append(user)
    
review_score_data['user_id'] = users

In [5]:
merged_data = pd.merge(user_rank_data,review_score_data,on='user_id')

In [6]:

users = []
for user in merged_data['business_id']:
    user = user.split("'")[1]
    users.append(user)
    
merged_data['business_id'] = users

In [7]:
merged_data.head(10)

,Unnamed: 0,user_id,review_count,yelping_since,useful_x,fans,elite_count,compliment_count,months_since,final_score,text,useful_y,business_id,cool,review_id,date,stars,funny,sentiment_score
0,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b'After the Star Trek Experience, we stopped i...",3,9QtHDX71JnaQbmzWWVbi-A,2,b'WlpRJVrgiinsMUw7r2J3oQ',b'2008-05-30',2,2,-2.0
1,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b""When thinking of casinos off the Strip, ther...",13,RhEvP5flF6KoPriMHmVYGg,10,b'8YJasH-kOyQmyoOdrujQsQ',b'2009-01-11',5,8,6.0
2,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,b'The multi-level LAX is embedded in the Luxor...,2,yhYhK7tb3la5KcLlVzG5Lw,0,b'sd3eQdwtoVRwXrCw3VbKYg',b'2008-01-05',3,2,14.0
3,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,b'Fou d\'Asie serves a mix of Chinese and Japa...,0,83irQ3M7l0DeQr0PBAJt4A,0,b'bRX1dYakASwGTBDYn57tdQ',b'2008-08-15',3,0,12.0
4,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b""Fix's ambience is so-so. They would benefit ...",0,PDIh1lVtKlUqPJROXYJQvQ,0,b'EpGJ1WxNzRNQcTP2mzDpdg',b'2007-12-01',4,0,33.0
5,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b""Planet Hollywood's Heart Bar may not be ever...",5,0KFA2m39eZwq2F7WvMCoyw,8,b'gz0_Cy9J3DJawMgljg4Lww',b'2009-01-17',4,6,17.0
6,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,b'Always dependable for late night tacos.\n\nT...,9,CiYLq33nAyghFkUR15pP-Q,8,b'krIJ3rYGAu8E52rjTV-Fhw',b'2015-04-14',5,7,2.0
7,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b'Friends and I stopped at St. Hubert\'s, a Ca...",6,xGfaKtKoAOwy2RpvKXIIYQ,7,b'pcKTb43OCl-ZxMMzUI-bIA',b'2009-02-15',3,7,-3.0
8,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,"b'""Classy"" and ""buffet"" usually don\'t go toge...",14,2weQS-RnoOBhb1KsHKyoSQ,13,b'sTZrFGELogFdSoRxv5PYgw',b'2009-12-06',4,7,24.0
9,1095662,6s-g2vFu12OemhiK3FJuOQ,2337,2007-02-14,187492,824,11,23361,134,9.659785,b'We had dinner at Rosemary\'s on a Sunday las...,2,3m2XZFVraCiqjgLxHi5MdA,1,b'DknSI7Lgz072RHbdaTj79A',b'2007-11-06',4,0,47.0

In [30]:
final_merge_data = pd.merge(restaurant_data,merged_data,on='business_id')

In [34]:
restaurant_user_count = len(final_merge_data['user_id'].unique().tolist())

In [8]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [37]:
final_merge_data.sort_values(['final_score'],ascending=False,inplace=True)

In [38]:
final_merge_data.head()

,Unnamed: 0_x,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,...,months_since,final_score,text,useful_y,cool,review_id,date,stars_y,funny,sentiment_score
669106,58900,3600 S Las Vegas Blvd,"{'RestaurantsTableService': False, 'GoodForMea...",UUGoM4q4i8rK2CBRS0xDAw,"['Coffee & Tea', 'Cafes', 'Desserts', 'Food', ...",Las Vegas,"{'Monday': '6:00-23:00', 'Tuesday': '6:00-23:0...",1,36.111946,-115.176877,...,134,9.659785,"b""Assuming you can secure a seat at the Jean P...",5,5,b'v3OIxFQHfa5Y6n1jUGw2fQ',b'2008-06-09',4,2,23.0
3449447,48339,1225 Rue du Square-Phillips,"{'RestaurantsTableService': True, 'GoodForMeal...",RZk_PE-H9SygqwSQd88cWQ,"['Restaurants', 'French']",Montreal,"{'Monday': '11:30-21:00', 'Tuesday': '11:30-21...",1,45.504012,-73.568202,...,134,9.659785,"b""Friends and I lunched at Le Grand Comptoir, ...",1,3,b'f5X19lzsEih-LoLF2BBvMA',b'2008-08-17',4,0,20.0
499992,6918,"8125 W Sahara Ave, Ste 110","{'Alcohol': 'full_bar', 'HasTV': False, 'Noise...",3m2XZFVraCiqjgLxHi5MdA,"['American (New)', 'Restaurants']",Las Vegas,"{'Monday': '17:30-22:00', 'Tuesday': '17:30-22...",0,36.142770,-115.269287,...,134,9.659785,b'We had dinner at Rosemary\'s on a Sunday las...,2,1,b'DknSI7Lgz072RHbdaTj79A',b'2007-11-06',4,0,47.0
3221908,45228,5501 Josh Birmingham Pkwy,"{'Alcohol': 'none', 'Caters': False, 'Restaura...",yVPiqeEWOzJuskp5G-twRw,"['Fast Food', 'Chinese', 'Restaurants']",Charlotte,{},1,35.221423,-80.943798,...,134,9.659785,"b'The ""Chinese"" food at Manchu Wok is disgusti...",7,4,b'J8X0RX47VfFAvwYurusifQ',b'2007-05-29',1,5,-5.0
1065528,14871,"The Orleans Hotel & Casino, 4500 W Tropicana Ave","{'GoodForMeal': {'dessert': False, 'latenight'...",vLO7WdSy53qYHXl_PiRf1w,"['Mexican', 'Restaurants']",Las Vegas,{},0,36.105711,-115.202272,...,134,9.659785,b'It was Friday night and since the Yardhouse ...,3,4,b'd8xULn_AvZ3g-am6YGSMtg',b'2008-12-19',3,2,5.0

In [70]:
def something(merged_data, category_data, states):
    #merged data = user_score + review_score
    final_merge_data = pd.merge(category_data, merged_data,on='business_id')  
    for s in states:
        #getting data for each state
        #print("State",s)
        state_data = final_merge_data[final_merge_data['state'] == s]
        if(len(state_data) > 0):
            
        
            user_count = len(state_data['user_id'].unique().tolist())

            #sorting by final score
            state_data.sort_values(['final_score'], ascending=False, inplace=True)
            #print(len(state_data))
            #print(state_data.head())
            state_data['final_category_score'] = state_data['final_score']*(state_data['sentiment_score'] + state_data['stars_y'])

            #scaling final_category_score from 1 to 5
            sc = MinMaxScaler(feature_range= (0,5))
            final_category_score = sc.fit_transform(np.reshape(np.array(state_data['final_category_score']), (-1,1)))
            state_data['final_category_score'] = final_category_score
            final_state_score = state_data['final_category_score'].sum()/len(state_data)
            print(s)

        
        
        
#something(merged_data,restaurant_data,states)

In [14]:
shopping_data = pd.read_csv('./filtered_categories_csv/shopping.csv', encoding = "ISO-8859-1")
health_data = pd.read_csv('./filtered_categories_csv/healthnmedical.csv', encoding = "ISO-8859-1")
home_data = pd.read_csv('./filtered_categories_csv/homeservice.csv', encoding = "ISO-8859-1")
beauty_data = pd.read_csv('./filtered_categories_csv/beautynspa.csv', encoding = "ISO-8859-1")

In [ ]:
def something(merged_data, category_data, states):
    #merged data = user_score + review_score
    final_merge_data = pd.merge(category_data, merged_data,on='business_id')  
    for s in states:
        #getting data for each state
        #print("State",s)
        state_data = final_merge_data[final_merge_data['state'] == s]
        if(len(state_data) > 0):
            
        
            user_count = len(state_data['user_id'].unique().tolist())

            #sorting by final score
            state_data.sort_values(['final_score'], ascending=False, inplace=True)
            #print(len(state_data))
            #print(state_data.head())
            state_data['final_category_score'] = state_data['final_score']*(state_data['sentiment_score'] + 
                                                                            state_data['stars_y'])

            #scaling final_category_score from 1 to 5
            sc = MinMaxScaler(feature_range= (0,5))
            final_category_score = sc.fit_transform(np.reshape(np.array(state_data['final_category_score']), (-1,1)))
            state_data['final_category_score'] = final_category_score
            final_state_score = state_data['final_category_score'].sum()/len(state_data)

In [9]:
state_user_data = pd.read_csv('./filtered_categories_csv/state_user_data_new.csv')

In [12]:
state_cols = state_user_data.columns.values.tolist()
state_cols = state_cols[1:]
print(state_cols)

['user_id', 'user_reviews_count', 'yelping_since', 'user_useful_reviews', 'fans', 'elite_count', 'compliment_count', 'months_since', 'final_score', 'text', 'user_review_useful_count', 'business_id', 'cool', 'review_id', 'review_date', 'user_review_stars', 'funny', 'sentiment_score', 'address', 'attributes', 'categories', 'city', 'hours', 'is_open', 'latitude', 'longitude', 'name', 'neighborhood', 'postal_code', 'business_review_count', 'business_review_stars', 'state', 'user_name']

In [16]:
state_user_data = state_user_data[state_cols]

In [23]:
restaurant_state_merged = pd.merge(state_user_data, restaurant_data, on="business_id")

In [24]:
restaurant_state_merged.shape

(306, 48)

In [26]:
shopping_state = pd.merge(state_user_data, shopping_data, on="business_id")
health_state = pd.merge(state_user_data, health_data, on="business_id")
beauty_state = pd.merge(state_user_data, beauty_data, on="business_id")
home_state = pd.merge(state_user_data, home_data, on="business_id")

In [27]:
print(shopping_state.shape, health_state.shape, beauty_state.shape, home_state.shape)

(45, 48) (5, 48) (27, 48) (10, 48)

In [ ]:
state_business_final_score = state_user_data['final_score'] * 
                        (state_user_data['sentiment_score']+state_user_data['business_review_stars'])